<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
	</head>
    <body> 

      <div class="new_summary_container">
        <div class="new_summary_content">
          <h2>Summariezed Text</h2>
          <form method = 'POST' action = "/view_summeries"> 
            <textarea id = "text" name = 'initial_text' rows ="20" cols="100">{{html_summary}}</textarea></form>
            <input type="submit" value = "View Summaries Here"/>
        </div>
      </div>
      
    </body>
</html>