<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href={{url_for('static', filename='style.css')}}/>
	</head>
    <body>
      <!--
        <div class="summaries_header_container">
          <div class="summaries_header_content">
            <h1>{{html_entries.username}}'s Summaries</h1>
          </div>
        </div>
      -->

        <div class="summaries_container">
          <div class="summaries_content">
            {% for x in html_entries: %}
            <h4>{{x.summary_title}}</h4>
            <h4>{{x.summary}}</h4> 
          {% endfor %}
          </div>
        </div>

        <!--
        <h4>Your Summaries </h4>
        <div style="overflow-y:scroll;height:300px;">
            {% for x in html_entries: %}
              <h4>{{x.summary_title}}</h4>
              <h4>{{x.summary}}</h4> 
            {% endfor %}
          </div>
        -->
    </body>
</html>